<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src = '../resources/img/helmet.jpg';
				  if(playerinfo.img_src)
				  {
				  	image_src = playerinfo.img_src;
				  }
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
							 	<%
							 	for (var i = 0; i < playeridname.count; i++)
							 	{
							 		var opt = '';
							 		opt = '<option value =' + playeridname[i].id + '>' + playeridname[i].name + '</option>';
							 		%>
							 		<%- opt %>
							 	}
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td>
							<%
							var yr = playerinfo.year;
							%>
							<%- yr %>
							</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>
							<%
							var maj = playerinfo.maj;
							%>
							<%- maj %>
							</td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>
							<%
							var games = playerinfo.games_played;
							%>
							<%- games %>
							</td>
						</tr>
						<tr>
							<td>Passing Yards: <% var pyards = playerinfo.passing_yards %><%- pyards %></td>
							<td>Avg. Passing Yards: <% var avepyards = parseInt(playerinfo.passing_yards) / parseInt(playerinfo.games_played); %><%- avepyards %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <% var rushyards = playerinfo.rushing_yards %><%- rushyards %></td>
							<td>Avg. Rushing Yards: <% var averushyards = parseInt(playerinfo.rushing_yards) / parseInt(playerinfo.games_played); %><%- averushyards %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <% var recyards = playerinfo.receiving_yards %><%- recyards %></td>
							<td>Avg. Receiving Yards: <% var averecyards = parseInt(playerinfo.receiving_yards) / parseInt(playerinfo.games_played); %><%- averecyards %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>